body {
  background-color: #efefef;
}

body{
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1 {
  margin: 0 0 20px 370px;
  padding: 0;
}

p {
  margin: 0 0 20px 0px;
  padding: 0;
}

h2,h3,h4,h5{
  margin: 0 0 20px 0;
  padding: 0;
}

header{
  margin-top: 20px;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}

.header-title-area{
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 40px;
}

.text-sub{
  color: #777;
  margin: 0 auto 10px 440px;
}

.header-navigation {
  width: 100%;
  background-color: #000;
  padding: 20px 0
}

.header-navigation:after {
  clear: both;
   display: block;
   content: " ";
}

.header-navigation li{
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #fff;
  text-decoration: none;
}

.left-contents {
  width: 600px;
  margin-right: 20px;
  float: left;
}

.right-contents {
  width: 300px;
  float: left;
}

.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.article-list{
  list-style-type: none;
  padding-left: 0;
}

.article li {
  text-align: center;
}

.article-list li {
  margin-bottom: 10px;
}


.article-list-area:after {
  clear: both;
  display: block;
  content: " ";
}

.article-list:last-child {
  margin-right: 0;
}



.article-image {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  display: block;
  transform: rotate(90deg);
}

.copyright{
  color: #777;
  text-align: center;
}

.main:after {
  clear: both;
  display: block;
  content: " ";
}

.card-contents-right{
  padding: 40px;
  display: block;
  height: 330px;
  background-color: #fff;
}

.text-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.text-title-right {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}


.information-list {
  list-style-type: none;
  padding-left: 0;
  overflow: scroll;
    height: 300px;
    padding-right: 10px;
}

.information-list li {
  margin-bottom: 10px;
}
